@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); */
*{
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body,main{
    height: 100%;
}

.mynav li a {
    text-decoration: none;
    width: auto;
    display: block;
    border-radius: 5px;
    padding: 8px 5px;
}

.mynav li a.active{
    background: rgba(255,255,255,0.2);
}

.mynav li a:hover{
    background: rgba(255,255,255,0.2);
}

.fa-solid{
    color: white;
}