@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
html {
  margin: 0;
  border: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

main{
  margin-bottom: 2rem;
}

body{
  background-color: #f8f4f4
}

.boton-subir {
  position: fixed;
  bottom: 1px;
  right: 20px;
  background-color: transparent;
  color: #71f04b;
  padding: 5px;
  border-radius: 15%;
  font-size: 3rem;
  cursor: pointer;
}

.boton-subir:hover {
  opacity: 15;
  color: green;
}

.carousel-inner{
    max-height: 300px;
    display: flex;
    align-items: center;
}
h1,
h2 {
  padding: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  color: rgb(156, 211, 156);
  font-family: sans-serif;
}
.page_principal {
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/background_main.jpg');
  background-size: cover;
  width: 100%;
  min-height: 600px;
}
.page_search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px;
  padding: 40px;
}
.card{
  text-align: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card img {
  width: 240px;
  height: 260px;
  display: flex;
  align-self: center;
}
.card-body{
  padding: 25px;
  margin-top: -15px;
}
.btn-primary{
  border-radius: 50px;
  width: 120px;
}
.btn-primary:hover{
  background-color: black;
  border: none;
}
.w-100{
  width: 100% !important;
  height: 500px;
  object-fit: contain;
}

.ofertas_semana{
  margin: 1rem;
  max-height: 30rem;
}

.carousel-image{
  height: 300px;
}